memcached:1.5.5
openstackhelm/mariadb:10.2.18
rabbitmq:3.7-management
rabbitmq:3.7.24
rabbitmq:3.7.24-management
starlingx/stx-cinder:master-centos-stable-latest
starlingx/stx-fm-rest-api:master-centos-stable-latest
starlingx/stx-glance:master-centos-stable-latest
starlingx/stx-heat:master-centos-stable-latest
starlingx/stx-horizon:master-centos-stable-latest
starlingx/stx-keystone:master-centos-stable-latest
starlingx/stx-libvirt:master-centos-stable-latest
starlingx/stx-neutron:master-centos-stable-latest
starlingx/stx-nova-api-proxy:master-centos-stable-latest
starlingx/stx-nova:master-centos-stable-latest
starlingx/stx-ovs:master-centos-stable-latest
starlingx/stx-placement:master-centos-stable-latest
google_containers/defaultbackend:1.0
kubernetes-ingress-controller/nginx-ingress-controller:0.9.0
stackanetes/kubernetes-entrypoint:v0.3.1
