nfvpe/multus:v3.4
starlingx/ceph-config-helper:v1.15.0
starlingx/k8s-cni-sriov:stx.3.0-v2.2
starlingx/k8s-plugins-sriov-network-device:stx.4.0-v3.2-16-g4e0302ae
kubernetes-helm/tiller:v2.13.1
coredns:1.6.7
defaultbackend:1.4
etcd:3.4.3-0
kube-apiserver:v1.18.1
kube-controller-manager:v1.18.1
kube-proxy:v1.18.1
kube-scheduler:v1.18.1
pause:3.2
airshipit/armada:8a1638098f88d92bf799ef4934abe569789b885e-ubuntu_bionic
calico/cni:v3.12.0
calico/kube-controllers:v3.12.0
calico/node:v3.12.0
calico/pod2daemon-flexvol:v3.12.0
external_storage/rbd-provisioner:v2.1.1-k8s1.11
jetstack/cert-manager-cainjector:v0.15.0
jetstack/cert-manager-controller:v0.15.0
jetstack/cert-manager-webhook:v0.15.0
jetstack/cert-manager-acmesolver:v0.15.0
k8scsi/snapshot-controller:v2.0.0-rc2
kubernetes-ingress-controller/nginx-ingress-controller:0.23.0
